[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
ipdb = "0.13.9"
importlib-metadata = "*"
importlib-resources = "*"

[requires]
python_full_version = "3.10.12"
